html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
    height: 80vh;
    background: url(restaurant.jpg) no-repeat 50% 50%;
    background-size: cover;
    
}
h2{
    margin-top: -250px;
    margin-bottom: 20%;
    font-size: 5em;
    color: white;
}

.content {
    width: 94%;
    margin: 2em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
.container{
    display: flex;
}
.card{
    margin: 0 10px;
}
.card img{
    width:100%;
    height:50%;
    background-size:cover;
}
.card a{
    text-align: center;

}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: rgb(20, 20, 20);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    background-color: rgb(243, 241, 241);
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: rgb(12, 11, 11);
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 500ms;
}

nav.black ul {
    background: #000;
    color:white;
}
nav.black ul a{
    background: #000;
    color:white;
    font-size:1.2em;
    text-transform: uppercase;
}
nav.black .logo{
    color: #fff;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-transform: uppercase;
    color: rgb(32, 31, 31);
    font-size: 16px;
    font-weight: 600;
    text-decoration-style: none;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
          color: #fff;
    }

    nav ul {
          max-height: 0px;
          background: #000;
          color:white;
    }

    nav.black ul {
          background: #000;
          color:white;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

}